body {
  background-color: #130f40 !important;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%) !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color:  #d63b40;
  font-weight: bold;
}

.heading{
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background: #ff9966;
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966); 
  background: linear-gradient(to right, #ff5e62, #ff9966); 
  margin-bottom: 1em;
  font-size: 4em;
}

.card{
  background: #C6FFDD; 
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
}

.card:hover{
  transform: scale(1.15);
}